html {
  background-color: black;
  color: white;
}

.main {
  background-color: black;
  color: white;
}

.nav_item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav_item:hover {
  color: red;
}

.banner {
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner_text {
  padding:30px;
}

.banner_text h1 {
  font-weight: bolder;
}

.banner_text p {
  font-size: 15px;
}